.contacts {

  &__content {
    display: grid;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
      grid-auto-flow: column dense;
      gap: 24px;
    }

    @include on-desktop  {
      grid-template-columns: repeat(12, 1fr);
      grid-auto-flow: column dense;
      gap: 24px;
    }

    row-gap: 48px;
  }

  &__location {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 3;
    }

      &-name {
        margin: 0 0 16px;
      }
  }

  &__info {

    &-item {
      display: flex;
      flex-direction: column;

      gap: 8px;
    }

      &-label {
        font-weight: 400;
        font-size: 14px;
      }

      &-value {
        color: #3E3E3E;
        text-decoration: none;
      }
  }

  &__form {

    &-container {
      display: flex;
      flex-direction: column;

        @include on-tablet {
          grid-column: 4 / span 3;
          grid-row: span 2;
        }

        @include on-desktop {
          grid-column: 8 / span 5;
          grid-row: auto;
        }
      }

      &-field {
        gap: 16px;
      }
    }

  &__input {
    height: 48px;
    margin-bottom: 16px;
  }

    &__textarea {
      height: 144px;
      margin-bottom: 16px;
      resize: none;
    }

  &__input,
  &__textarea {
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;

    background-color: #F8F8FA;
    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #161616;


    &::placeholder {
      color: #7E7E83;
      opacity: 1;
    }

    &:hover {
      border-color: #D5D7DE;
    }

    &:focus {
      border-color: #161616;
      outline: none;
    }

    &:not(:placeholder-shown) {
      color: #161616;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    margin-top: 16px;

    border: none;

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    color: #fff;

    cursor: pointer;
  }
}
