.footer {
  margin: 0;

  position: sticky;
  bottom: 0;
  z-index: -1;

  height: 180px;
  width: 100%; 

  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  pointer-events: none;

  @include on-tablet {
    height: 360px;
  }
}

