.menu {
  background-color: #d12d35;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;

  &__contact-block {
    margin-bottom: 8px;
  }

  &__contacts {
    margin-top: 32px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__contact-title {
    margin: 0;
    text-transform: uppercase;
    display: block;
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__contact-phone {
    display: block;
    color: #fff;
    text-decoration: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__call-button {
    margin-top: 16px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    color: #fff;
    text-decoration: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: #fff;

      transition: transform $transition-duration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
