.page {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  color: #161616;
  line-height: 27px;

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
      overflow: hidden;
    }

  &__body {
    margin: 0;

    height: 100vh;

    overflow-y: scroll;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all $transition-duration;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

      &:target {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
  }
}

.max-width {
  max-width: $content-max-width;
  width: 100%;
  margin-inline: auto;
}

