// #region page

.page {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  font-style: Bold;
  color: #161616;
  line-height: 27px;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

// #endregion

// #region header
.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__bottom {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;
}

// #endregion

// #region top-bar
.top-bar {
  padding: 25px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__logo {
  display: block;
}

// #endregion

// #region menu

.menu {
  background-color: #d12d35;
  height: 100vh;
  box-sizing: border-box;
}

.menu__contact-block {
  margin-bottom: 8px;
}

.menu__contacts {
  margin-top: 32px;
}

.menu__content {
  padding: 0 20px;
}

.menu__contact-title {
  margin: 0;
  text-transform: uppercase;
  display: block;
  color: #fff;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.menu__contact-phone {
  display: block;
  color: #fff;
  text-decoration: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.menu__call-button {
  margin-top: 16px;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

// #endregion

// #region nav

.nav__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__item {
  margin: 0;
  padding: 0;
}

// #endregion

// #region icon
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../images/icons/icon-phone-call.png);
}

.icon--menu {
  background-image: url(../images/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../images/icons/icon-close.png);
}

// #endregion

// #region footer
.footer {
  margin: 0;
}

// #endregion
