.animation {
  &--photo-zoom {
    transition: transform $transition-duration;
    transform-origin: center center;

    &:hover {
      transform: scale(1.05);
      z-index: 2;
    }
  }

  &--button {
  transition: background-color $transition-duration;

  background-color: #D12D35;

  &:hover {
    background-color: #AE1C23;
  }

  &:active {
    background-color: #EB343D;
  }
}
}
